.App {
  text-align: center;
}
/* 
#f9e996
#ff6168
#9dd2ea
#334689
#223061
*/

header * {
  background-color: #334689;
  color: #ff6168;
}

.navbar {
  height: 64px;
}

.navbar-dark .navbar-toggler {
  border-color: rgb(232, 232, 232)!important;
}

.navbar > .container, .navbar > .container-fluid {
  justify-content: center!important;
}

.navbar-brand {
  font-size: 1.65rem;
}

.content {
  background-color: rgb(46, 46, 46);
}

.profile-list {
  max-width: 800px;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.profile-container {
  margin: 12px;
  height: calc(100vh - 64px);
  scroll-snap-align: start;
}

.profile-content {
  height: 100%;
  overflow: hidden;
  padding-top: 12px;
}

.profile-text {
  background-color: #9dd2ea;
  padding: 12px;
  text-overflow: ellipsis;
  color: white;
}

.profile-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 12px;
}

