body {
  background-color: #2e2e2e;
}

.App {
  text-align: center;
  box-sizing: border-box;
}
/* 
#f9e996
#ff6168
#9dd2ea
#334689
#223061
*/

header * {
  background-color: #334689;
  color: #ff6168;
}

.navbar {
  height: 64px;
}

.navbar-dark .navbar-toggler {
  border-color: rgb(232, 232, 232)!important;
}

/* .navbar > .container, .navbar > .container-fluid {
  justify-content: center!important;
} */

.navbar-brand {
  font-size: 1.65rem;
}

.main-logo {
  height: 35px;
  color: white;
}


.newMessages {
  background: #879bb1;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 23px;
  vertical-align: bottom;
}

.newMessages-true {
  background: #f56767;
}

.navbar a:hover {
  /* color: initial; */
  /* background-color: rgb(218, 218, 218); */
  text-decoration: none;
}

.newProfiles {
  background: #007bff;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 23px;
  vertical-align: bottom;
}

.content {
  background-color: rgb(46, 46, 46);
}

.profile-list {
  max-width: 800px;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.profile-container {
  margin: 12px;
  height: calc(100vh - 64px);
  scroll-snap-align: start;
}

.profile-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 12px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.video-react .video-react-poster {
  background-color: white;
}

.video-react {
  background-color: white!important;
}

.video-react .video-react-big-play-button {
  top: initial;
  left: initial;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 69, 142, 0.38);
}

.profile-text {
  /* text-align: left; */
  background-color: #ff5162;
  padding: 12px;
  padding-top: 18px;
  text-overflow: ellipsis;
  color: white;
  height: 100%;
  flex: 1 0;
  border-radius: 0 0 10px 10px;
}

.profile-logo-container {
  padding: 12px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex: 1 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.profile-logo {
  display: block;
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
}

.profile-button {
  background-color: #2a4dbf;
  border: none;
  border-radius: 10px;
  margin-top: 12px;
  width: 100%;
  min-height: 42px;
  color: white;
  font-size: 20px;
  outline: none!important;
}

.profile-button.a{
  color: white;
}

.login-button {
  box-shadow:none!important;
  margin: 5px;
}

.login-form {
  color: white;
  margin: 30px;
  font-size: 20px;
  text-align: left;

}

.login-form form {
  text-align: left;
}

.login-form div {
  margin-bottom: 20px;
}

.submitzone div {
  margin: 0 auto!important;
  text-align: center;
}

.profile-chat {
  color: white;
  padding: 12px;
}

.message-content-container {

}

.message-content {
  background-color: white;
  color: black;
  display: inline-block;
  margin: 6px;
  padding: 6px 12px;
  border-radius: 16px;
}

.message-type-0 {
  text-align: right;
}

.message-type-1 {
  text-align: left;
}

.message-input {
  position: absolute;
  bottom: 12px;
  width: calc(100% - 24px);
}

.message-name {
  color: #989898;
}

.industrytaggs {
  font-weight: bold;
}

.submitzone-text {
  padding-bottom:14px;
}

.submitzone span {
  font-size: 200px;
  margin-top: -56px;
  vertical-align: top;
  position: absolute;
  top: -8%;
  right: 18%
}

.btn-lg {
  min-width: 200px;
}

.hidden-true {
  visibility: hidden;
}

.profile-chat .mb-3 {
  margin-bottom: 0;
}

.loading-spinner {
  padding-top: 30%;
  font-size: 24px;
  color: white;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}